cloudpickle~=3.1.1
fpstimer~=0.0.1
gymnasium~=1.0.0
h5py~=3.12.1
matplotlib~=3.10.0
numpy~=2.2.3
pandas~=2.2.3
pyquaternion~=0.9.9
pytest~=8.3.4
pyyaml~=6.0.2
psutil~=7.0.0
rospkg
scikit-learn~=1.6.1
seaborn~=0.13.2
setuptools
torch~=2.6.0
torchinfo~=1.8.0
torchvision~=0.21.0
tqdm~=4.67.1