<?xml version="1.0"?>
<launch>

  <arg name="mujoco_plugin_config" default="$(find haptic_exploration)/config/exploration_mocap_mjplugin_config.yaml"             doc="Location of param file containing the mujoco plugin config" />
  <arg name="realtime" default="1.0" doc="Fraction of desired realtime (0,1]. -1 to run as fast as possible" />
  <arg name="use_sim_time"         default="true" doc="should mujoco publish its simulation time as ros time?"/>

  <arg name="headless" default="false" />
  <arg name="unpause"  default="false" />
  <arg name="no_x"     default="false" />
  <arg name="verbose"  default="false" />

  <arg name="show_surfaces" default="true" doc="Should the contact surfaces be shown?"/>
  <arg name="show_cells"    default="true" doc="Should the tactile sensor cells be visualized?"/>
  <arg name="num_splits"    default="4"    doc="Number of splits for processed object." />
  <arg name="chunk"         default="0"    doc="Chunk of the set to process." />

  <param name="/use_sim_time" value="true"/>

  <include file="$(find mujoco_ros)/launch/launch_server.launch" pass_all_args="true" >
    <arg name="console_config_file"  value="$(find mujoco_contact_surface_sensors)/rosconsole.config" />
  </include>

  <arg name="venv" value="$(find haptic_exploration)/../../venv/bin/python3" />
  <node name="record_ycb_data" pkg="haptic_exploration" type="ycb_recorder" output="screen" launch-prefix = "$(arg venv)" >
    <param name="show_surfaces" value="$(arg show_surfaces)" />
    <param name="num_splits"    value="$(arg num_splits)" />
    <param name="chunk"         value="$(arg chunk)" />
  </node>

</launch>
